@media only screen and (max-width:1194px) {
    .skillst4 {
        width: 70% !important;
        margin-top: 10px;
    }
}

@media only screen and (max-width:768px) {
    #colorchange {
        display: none;
    }
    .button {
        display: none !important;
    }
    .double-border {
        display: none;
    }
    .skillst4 {
        width: 70% !important;
        margin-top: 10px;
    }
    .hero-text-box h1 {
        font-size: 180% !important;
    }
    .navbar li a {
        line-height: 8px !important;
    }
    .navbar {
        box-shadow: none !important;
    }
    .navbar-brand {
        display: none;
    }
}