#cf {
    position: relative;
    height: 281px;
    width: 450px;
    margin: 20px;
}

#cf img {
    position: absolute;
    height: 550px;
    width: 400px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
    opacity: 0;
}